chap-13/hangman/.stack-work/
chap-14/addition/.stack-work/
chap-14/morse-code/.stack-work/
chap-15/test-proj/.stack-work/
chap-16/test-proj/.stack-work/
.vscode/settings.json
chap-16/revision-prac/.stack-work/dist/e626a42b/build/revision-prac/autogen/cabal_macros.h
chap-15/exer/stack.yaml.lock
chap-16/revision-prac/LICENSE
chap-16/revision-prac/README.md
chap-16/revision-prac/g
chap-16/revision-prac/revision-prac.cabal
chap-16/revision-prac/stack.yaml
chap-16/revision-prac/stack.yaml.lock
chap-16/revision-prac/.stack-work/stack.sqlite3
chap-16/revision-prac/.stack-work/stack.sqlite3.pantry-write-lock
chap-16/revision-prac/.stack-work/dist/e626a42b/setup-config
chap-16/revision-prac/.stack-work/dist/e626a42b/build-lock
chap-16/revision-prac/.stack-work/dist/e626a42b/stack-cabal-mod
chap-16/revision-prac/.stack-work/install/804f060a/pkgdb/package.cache.lock
chap-16/revision-prac/.stack-work/install/804f060a/pkgdb/package.cache
chap-16/revision-prac/.stack-work/ghci/a06234c3/cabal_macros.h
chap-16/revision-prac/src/Main.hi
chap-16/revision-prac/src/Main.o
chap-16/test-proj/stack.yaml.lock
chap-17/testing/.stack-work/dist/e626a42b/package.conf.inplace/package.cache
chap-17/testing/stack.yaml
chap-17/testing/stack.yaml.lock
chap-17/testing/.stack-work/stack.sqlite3
chap-17/testing/.stack-work/stack.sqlite3.pantry-write-lock
chap-17/testing/.stack-work/dist/e626a42b/build-lock
chap-17/testing/.stack-work/dist/e626a42b/setup-config
chap-17/testing/.stack-work/dist/e626a42b/stack-cabal-mod
chap-17/testing/.stack-work/dist/e626a42b/build/testing/testing.exe
chap-17/testing/.stack-work/dist/e626a42b/build/testing/autogen/cabal_macros.h
chap-17/testing/.stack-work/dist/e626a42b/build/testing/testing-tmp/Main.hi
chap-17/testing/.stack-work/dist/e626a42b/build/testing/testing-tmp/Main.o
chap-17/testing/.stack-work/dist/e626a42b/package.conf.inplace/package.cache.lock
chap-17/testing/.stack-work/dist/e626a42b/stack-build-caches/8b6633e8483ecee884314344c9aee781cd44480f36923b65e95a56afb8dc3234/exe-testing
chap-17/testing/.stack-work/install/804f060a/bin/testing.exe
chap-17/testing/.stack-work/ghci/a701e962/cabal_macros.h
chap-17/testing/.stack-work/install/804f060a/doc/testing-0.1.0.0/LICENSE
chap-17/testing/.stack-work/install/804f060a/pkgdb/package.cache
chap-17/testing/.stack-work/install/804f060a/pkgdb/package.cache.lock
chap-18/testing/.stack-work/dist/e626a42b/setup-config
chap-18/testing/LICENSE
chap-18/testing/README.md
chap-18/testing/Setup.hs
chap-18/testing/stack.yaml
chap-18/testing/stack.yaml.lock
chap-18/testing/.stack-work/stack.sqlite3
chap-18/testing/.stack-work/stack.sqlite3.pantry-write-lock
chap-18/testing/.stack-work/dist/e626a42b/build-lock
chap-18/testing/.stack-work/dist/e626a42b/stack-cabal-mod
chap-18/testing/.stack-work/dist/e626a42b/build/testing/autogen/Paths_testing.hs
chap-18/testing/.stack-work/dist/e626a42b/build/testing/autogen/cabal_macros.h
chap-18/testing/.stack-work/ghci/a701e962/cabal_macros.h
chap-18/testing/.stack-work/install/804f060a/pkgdb/package.cache
chap-18/testing/.stack-work/install/804f060a/pkgdb/package.cache.lock
chap-19/url-shortener/.stack-work/stack.sqlite3
chap-19/url-shortener/.stack-work/install/74ffa373/pkgdb/package.cache
chap-19/url-shortener/.stack-work/install/74ffa373/pkgdb/package.cache.lock
chap-19/url-shortener/.stack-work/ghci/eea0dd29/cabal_macros.h
chap-19/url-shortener/.stack-work/dist/e626a42b/build/url-shortener/autogen/cabal_macros.h
chap-19/url-shortener/.stack-work/dist/e626a42b/setup-config
chap-19/url-shortener/.stack-work/dist/e626a42b/stack-cabal-mod
chap-19/url-shortener/.stack-work/dist/e626a42b/build-lock
chap-19/url-shortener/.stack-work/stack.sqlite3.pantry-write-lock
chap-19/url-shortener/LICENSE
chap-19/url-shortener/stack.yaml
chap-21/exercises/ChangeLog.md
chap-21/exercises/LICENSE
chap-21/exercises/stack.yaml
chap-21/exercises/package.yaml
chap-21/exercises/stack.yaml.lock
chap-22/web/Setup.hs
chap-22/web/ChangeLog.md
chap-22/web/LICENSE
chap-22/web/package.yaml
chap-22/web/README.md
chap-22/web/stack.yaml
chap-22/web/stack.yaml.lock
chap-22/web/src/Lib.hs
chap-22/web/test/Spec.hs
