chap-13/hangman/.stack-work/
chap-14/addition/.stack-work/
chap-14/morse-code/.stack-work/
chap-15/test-proj/.stack-work/
chap-16/test-proj/.stack-work/
.vscode/settings.json
chap-16/revision-prac/.stack-work/dist/e626a42b/build/revision-prac/autogen/cabal_macros.h
chap-15/exer/stack.yaml.lock
chap-16/revision-prac/LICENSE
chap-16/revision-prac/README.md
chap-16/revision-prac/g
chap-16/revision-prac/revision-prac.cabal
chap-16/revision-prac/stack.yaml
chap-16/revision-prac/stack.yaml.lock
chap-16/revision-prac/.stack-work/stack.sqlite3
chap-16/revision-prac/.stack-work/stack.sqlite3.pantry-write-lock
chap-16/revision-prac/.stack-work/dist/e626a42b/setup-config
chap-16/revision-prac/.stack-work/dist/e626a42b/build-lock
chap-16/revision-prac/.stack-work/dist/e626a42b/stack-cabal-mod
chap-16/revision-prac/.stack-work/install/804f060a/pkgdb/package.cache.lock
chap-16/revision-prac/.stack-work/install/804f060a/pkgdb/package.cache
chap-16/revision-prac/.stack-work/ghci/a06234c3/cabal_macros.h
chap-16/revision-prac/src/Main.hi
chap-16/revision-prac/src/Main.o
chap-16/test-proj/stack.yaml.lock
chap-17/testing/.stack-work/dist/e626a42b/package.conf.inplace/package.cache
chap-17/testing/stack.yaml
chap-17/testing/stack.yaml.lock
chap-17/testing/.stack-work/stack.sqlite3
chap-17/testing/.stack-work/stack.sqlite3.pantry-write-lock
chap-17/testing/.stack-work/dist/e626a42b/build-lock
chap-17/testing/.stack-work/dist/e626a42b/setup-config
chap-17/testing/.stack-work/dist/e626a42b/stack-cabal-mod
chap-17/testing/.stack-work/dist/e626a42b/build/testing/testing.exe
chap-17/testing/.stack-work/dist/e626a42b/build/testing/autogen/cabal_macros.h
chap-17/testing/.stack-work/dist/e626a42b/build/testing/testing-tmp/Main.hi
chap-17/testing/.stack-work/dist/e626a42b/build/testing/testing-tmp/Main.o
chap-17/testing/.stack-work/dist/e626a42b/package.conf.inplace/package.cache.lock
chap-17/testing/.stack-work/dist/e626a42b/stack-build-caches/8b6633e8483ecee884314344c9aee781cd44480f36923b65e95a56afb8dc3234/exe-testing
chap-17/testing/.stack-work/install/804f060a/bin/testing.exe
chap-17/testing/.stack-work/ghci/a701e962/cabal_macros.h
chap-17/testing/.stack-work/install/804f060a/doc/testing-0.1.0.0/LICENSE
chap-17/testing/.stack-work/install/804f060a/pkgdb/package.cache
chap-17/testing/.stack-work/install/804f060a/pkgdb/package.cache.lock
chap-18/testing/.stack-work/dist/e626a42b/setup-config
chap-18/testing/LICENSE
chap-18/testing/README.md
chap-18/testing/Setup.hs
chap-18/testing/stack.yaml
chap-18/testing/stack.yaml.lock
chap-18/testing/.stack-work/stack.sqlite3
chap-18/testing/.stack-work/stack.sqlite3.pantry-write-lock
chap-18/testing/.stack-work/dist/e626a42b/build-lock
chap-18/testing/.stack-work/dist/e626a42b/stack-cabal-mod
chap-18/testing/.stack-work/dist/e626a42b/build/testing/autogen/Paths_testing.hs
chap-18/testing/.stack-work/dist/e626a42b/build/testing/autogen/cabal_macros.h
chap-18/testing/.stack-work/ghci/a701e962/cabal_macros.h
chap-18/testing/.stack-work/install/804f060a/pkgdb/package.cache
chap-18/testing/.stack-work/install/804f060a/pkgdb/package.cache.lock
chap-19/url-shortener/.stack-work/stack.sqlite3
chap-19/url-shortener/.stack-work/install/74ffa373/pkgdb/package.cache
chap-19/url-shortener/.stack-work/install/74ffa373/pkgdb/package.cache.lock
chap-19/url-shortener/.stack-work/ghci/eea0dd29/cabal_macros.h
chap-19/url-shortener/.stack-work/dist/e626a42b/build/url-shortener/autogen/cabal_macros.h
chap-19/url-shortener/.stack-work/dist/e626a42b/setup-config
chap-19/url-shortener/.stack-work/dist/e626a42b/stack-cabal-mod
chap-19/url-shortener/.stack-work/dist/e626a42b/build-lock
chap-19/url-shortener/.stack-work/stack.sqlite3.pantry-write-lock
chap-19/url-shortener/LICENSE
chap-19/url-shortener/stack.yaml
chap-21/exercises/ChangeLog.md
chap-21/exercises/LICENSE
chap-21/exercises/stack.yaml
chap-21/exercises/package.yaml
chap-21/exercises/stack.yaml.lock
chap-22/web/Setup.hs
chap-22/web/ChangeLog.md
chap-22/web/LICENSE
chap-22/web/package.yaml
chap-22/web/README.md
chap-22/web/stack.yaml
chap-22/web/stack.yaml.lock
chap-22/web/src/Lib.hs
chap-22/web/test/Spec.hs
realWorldHaskell/8/regex/stack.yaml.lock
realWorldHaskell/8/regex/.stack-work/stack.sqlite3
realWorldHaskell/8/regex/.stack-work/stack.sqlite3.pantry-write-lock
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/build-lock
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/setup-config
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/stack-cabal-mod
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/build/regex/regex.exe
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/build/regex/autogen/cabal_macros.h
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/build/regex/regex-tmp/Main.hi
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/build/regex/regex-tmp/Main.o
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/package.conf.inplace/package.cache
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/package.conf.inplace/package.cache.lock
realWorldHaskell/8/regex/.stack-work/dist/e626a42b/stack-build-caches/f438760bcfab463abca9c11cd75985e024ea1b8464f4bc3d8ef327e6c90abaa5/exe-regex
realWorldHaskell/8/regex/.stack-work/ghci/7a512ce8/cabal_macros.h
realWorldHaskell/8/regex/.stack-work/ghci/a6c2056c/cabal_macros.h
realWorldHaskell/8/regex/.stack-work/install/2ce8b0a3/bin/regex.exe
realWorldHaskell/8/regex/.stack-work/install/2ce8b0a3/doc/regex-0.1.0.0/LICENSE
realWorldHaskell/8/regex/.stack-work/install/2ce8b0a3/installed-packages/regex-0.1.0.0
realWorldHaskell/8/regex/.stack-work/install/2ce8b0a3/pkgdb/package.cache
realWorldHaskell/8/regex/.stack-work/install/2ce8b0a3/pkgdb/package.cache.lock
typeclasses/validation/.stack-work/stack.sqlite3
typeclasses/validation/.stack-work/stack.sqlite3.pantry-write-lock
typeclasses/validation/.stack-work/cabal-helper/cabal-helper.exe
typeclasses/validation/.stack-work/cabal-helper/Main.hi
typeclasses/validation/.stack-work/cabal-helper/Main.o
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Runtime/Compat.hi
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Runtime/Compat.hs
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Runtime/Compat.o
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Runtime/HelperMain.hi
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Runtime/HelperMain.hs
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Runtime/HelperMain.o
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Runtime/Main.hs
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Shared/Common.hi
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Shared/Common.hs
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Shared/Common.o
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Shared/InterfaceTypes.hi
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Shared/InterfaceTypes.hs
typeclasses/validation/.stack-work/cabal-helper/CabalHelper/Shared/InterfaceTypes.o
typeclasses/validation/.stack-work/dist/29cc6475/build-lock
typeclasses/validation/.stack-work/dist/29cc6475/setup-config
typeclasses/validation/.stack-work/dist/29cc6475/stack-cabal-mod
typeclasses/validation/.stack-work/dist/29cc6475/build/autogen/cabal_macros.h
typeclasses/validation/.stack-work/dist/29cc6475/build/autogen/Paths_validation.hs
typeclasses/validation/.stack-work/dist/29cc6475/build/validation-exe/autogen/cabal_macros.h
typeclasses/validation/.stack-work/dist/29cc6475/build/validation-exe/autogen/Paths_validation.hs
typeclasses/validation/.stack-work/dist/e626a42b/build-lock
typeclasses/validation/.stack-work/dist/e626a42b/setup-config
typeclasses/validation/.stack-work/dist/e626a42b/stack-cabal-mod
typeclasses/validation/.stack-work/dist/e626a42b/build/autogen/cabal_macros.h
typeclasses/validation/.stack-work/dist/e626a42b/build/autogen/Paths_validation.hs
typeclasses/validation/.stack-work/dist/e626a42b/build/validation-exe/autogen/cabal_macros.h
typeclasses/validation/.stack-work/dist/e626a42b/build/validation-exe/autogen/Paths_validation.hs
typeclasses/validation/.stack-work/ghci/3319b82d/cabal_macros.h
typeclasses/validation/.stack-work/ghci/934a0c89/cabal_macros.h
typeclasses/validation/.stack-work/install/0f004558/pkgdb/package.cache
typeclasses/validation/.stack-work/install/0f004558/pkgdb/package.cache.lock
typeclasses/validation/.stack-work/install/21f7a980/pkgdb/package.cache
typeclasses/validation/.stack-work/install/21f7a980/pkgdb/package.cache.lock
typeclasses/validation/.stack-work/install/2bd9bd29/pkgdb/package.cache
typeclasses/validation/.stack-work/install/2bd9bd29/pkgdb/package.cache.lock
typeclasses/validation/.stack-work/install/59b2bd40/pkgdb/package.cache
typeclasses/validation/.stack-work/install/59b2bd40/pkgdb/package.cache.lock
