chap-13/hangman/.stack-work/
chap-14/addition/.stack-work/
chap-14/morse-code/.stack-work/
chap-15/test-proj/.stack-work/
chap-16/test-proj/.stack-work/
.vscode/settings.json
chap-16/revision-prac/.stack-work/dist/e626a42b/build/revision-prac/autogen/cabal_macros.h
chap-15/exer/stack.yaml.lock
chap-16/revision-prac/LICENSE
chap-16/revision-prac/README.md
chap-16/revision-prac/g
chap-16/revision-prac/revision-prac.cabal
chap-16/revision-prac/stack.yaml
chap-16/revision-prac/stack.yaml.lock
chap-16/revision-prac/.stack-work/stack.sqlite3
chap-16/revision-prac/.stack-work/stack.sqlite3.pantry-write-lock
chap-16/revision-prac/.stack-work/dist/e626a42b/setup-config
chap-16/revision-prac/.stack-work/dist/e626a42b/build-lock
chap-16/revision-prac/.stack-work/dist/e626a42b/stack-cabal-mod
chap-16/revision-prac/.stack-work/install/804f060a/pkgdb/package.cache.lock
chap-16/revision-prac/.stack-work/install/804f060a/pkgdb/package.cache
chap-16/revision-prac/.stack-work/ghci/a06234c3/cabal_macros.h
chap-16/revision-prac/src/Main.hi
chap-16/revision-prac/src/Main.o
chap-16/test-proj/stack.yaml.lock
